.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.main {
  width: 1000px;
  p {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    span {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  img {
    width: 35%;
    vertical-align: middle;
  }
}